@page "/cases"
@attribute [Authorize]
@using System.Net.Http.Json
@using LegalCRM.Shared.Case
@inject NavigationManager Nav
@inject HttpClient Http

<h3>Cases</h3>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="NavigateToAddCase">Добавить дело</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Client</th>
        </tr>
    </thead>
    <tbody>
        @if (cases != null)
        {
            foreach (var item in cases)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Status</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.UpdatedAt</td>
                    <td>
                        @item.ClientReadDto?.ToString()
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<CaseReadDto>? cases = new();
    override protected async Task OnInitializedAsync()
    {
        cases = await Http.GetFromJsonAsync<List<CaseReadDto>>("api/Case/getAll");
    }
    private void NavigateToAddCase()
    {
        Nav.NavigateTo("cases/add");
    }

    private void ViewCase(int id)
    {
        Nav.NavigateTo($"cases/{id}");
    }
}