@page "/clients"
@using LegalCRM.Shared.Client
@inject NavigationManager Nav
@inject HttpClient Http
@attribute [Authorize]

<h3>Profiles</h3>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="NavigateToAddClient">Добавить клиента</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Cases</th>
        </tr>
    </thead>
    <tbody>
        @if (clients != null)
        {
            foreach (var item in clients)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Status</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.UpdatedAt</td>
                    <td>@item.CasesReadDto.Count</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<ClientReadDto>? clients;
    protected override async Task OnInitializedAsync()
    {
        clients = await Http.GetFromJsonAsync<List<ClientReadDto>>("api/Client/getAll");
    }
    private void NavigateToAddClient()
    {
        Nav.NavigateTo("clients/add");
    }
}
